body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#viewerContainer {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.taskItem {
    color: black;
}

.toolbar-bg {
    background-color: #5A5A5A;
    padding: 5px 0;
}

.metricbar-bg{
    background-color: #E1E1E1;
    padding: 2rem 0;
    color: black;
}

.custom-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}